/* HTML TAGS */

body {
    font: bold 12px Verdana, sans-serif;
	background-color:#F8F8F8;
	color: #00283F;
}

.table_menu {
	text-align: center;
	font-size: 16px;
	padding: 15px 15px 15px 15px;
	color: #7CBFE5;
}

.content {
	clear: both;
    padding: 30px 12px 12px 12px;
	font-size: 16px;
}

hr {
	border: 1px solid #7CBFE5;
	margin: 10px 0 15px 0;
}

A { 
    text-decoration: none; 
    color:#006DAC;
	font-weight: bold;
}

A:visited { 
    color:#0073B5;
}

A:hover { 
    text-decoration: underline; 
    color:#006DAC; 
}

#title {
    z-index: 6;
    width: 100%;
    height: 18px;
    margin-top: 10px;
    font-size: 90%;
    border-bottom: 1px solid #ddf;
    text-align: left;
}

input.submit:hover {
    color: #fff;
    background-color: #7d95b5;
}

table { 
	margin: 0 auto 20px auto;
    background-color: #ffffff;
	border-collapse: collapse;
}

table .view_label{ 
    background-color: #DFF6E6;
}

th {
    background-color: #DFF6E6;
    border: 1px solid #7CBFE5;
    font: bol 14px Verdana, sans-serif;
	padding: 4px 4px 4px 4px;
}

tr.alternate { background-color:#e3eaf0; }
tr:hover { background-color: #b5cadc; }

td { 
	font: 14px Verdana, sans-serif; 
	border: 1px solid #7CBFE5;
	padding: 4px 4px 4px 4px;
}

.action {
    border: 1px outset #7d95b5;
}

.action:hover {
    color: #fff;
    text-decoration: none;
    background-color: #7d95b5;
}

.pager {
    font: bold 14px Verdana, sans-serif;
    color: #7CBFE5; 
    text-align: center;
    border: solid 1px #e2e2e2;
    border-left: 0;
    border-right: 0;
    padding: 15px 0 15px 0;
    background-color: #EBF8EF;
}

.pager .counter{
	padding: 0 0 10px 0;
}

.pager a {
    padding: 2px 6px 2px 6px;
}

.pager a:hover {
    color: #fff;
    background: #7d95b5;
    text-decoration: none;
}

.pager .current {
    padding: 2px 6px;
    font-weight: bold;
    vertical-align: top;
}

.pager .current-page {
    padding: 2px 6px;
    font-weight: bold;
    vertical-align: top;
}
